Repository kirinnee/4717-Project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-lint, docker-lint, shfmt, cfg-scripts, yaml-fmt, ts-fmt, md-fmt, nixpkgs-fmt

ts-lint:
  name: Lint TypeScript and JavaScript files
  entry: eslint -c ./config/.eslintrc.js --fix
  pass_filenames: true
  language: system

docker-lint:
  name: Lint Docker files
  entry: hadolint
  pass_filenames: true
  language: system

shfmt:
  name: Format Shell Scripts
  entry: shfmt -w
  pass_filenames: true
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: prettier -w
  pass_filenames: true
  language: system

ts-fmt:
  name: Format Markdown with prettier
  entry: prettier -w
  pass_filenames: true
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: prettier --config ./config/.prettierrc -w
  pass_filenames: true
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

temp: fixing for production
  Dockerfile
  docker-compose.local.yaml
  nix/env.nix
  nix/packages.nix
  src/index.php
Due: docker-lint, yaml-fmt, nixpkgs-fmt

feat: use production database
  .envrc
  Dockerfile
  Taskfile.yml
  database/init.sql
  docker-compose.local.yaml
  docker-compose.old.yaml
  docker-compose.yaml
  src/index.php
Due: docker-lint, yaml-fmt

footer
  nix/env.nix
  nix/packages.nix
  nix/shells.nix
  scripts/ci.yml
  scripts/emulate-commit.sh
  scripts/fmt.yml
  scripts/ide.yml
  scripts/isolate.sh
  scripts/lint.yml
  shell.nix
  src/components/nav_bar/navbar.php
  src/components/nav_ele/nav_ele.css
  src/components/nav_ele/nav_ele.php
  src/index.css
  src/index.php
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

remove pre commit
  .envrc
Due: none

feat: added nav bar
  src/contact.php
  src/lib/nav_bar/index.css
  src/lib/nav_bar/index.php
  src/lib/nav_ele/index.css
  src/lib/nav_ele/index.php
  src/shows.php
Due: none

feat: merged
  src/index.php
Due: none

style changes
  src/index.css
Due: none

feat: added home page
  src/contact.php
  src/download.jpeg
  src/index.css
  src/index.php
  src/lib/carousel/index.css
  src/lib/carousel/index.js
  src/lib/carousel/index.php
  src/lib/date_picker/index.css
  src/lib/date_picker/index.js
  src/lib/date_picker/index.php
  src/lib/footer/index.css
  src/lib/footer/index.php
  src/lib/head.php
  src/lib/nav_bar/index.css
  src/lib/nav_bar/index.php
  src/lib/nav_ele/index.css
  src/lib/nav_ele/index.php
  src/lib/show/index.css
  src/lib/show/index.js
  src/lib/show/index.php
  src/lib/shows/index.css
  src/lib/shows/index.php
  src/shows.php
Due: ts-lint, md-fmt

text
  src/contact.php
  src/index.css
  src/index.php
  src/lib/carousel/index.css
  src/lib/carousel/index.js
  src/lib/carousel/index.php
  src/lib/contact_card/index.css
  src/lib/contact_card/index.php
  src/lib/date_picker/index.css
  src/lib/date_picker/index.js
  src/lib/date_picker/index.php
  src/lib/footer/index.css
  src/lib/footer/index.php
  src/lib/head.php
  src/lib/nav_bar/index.css
  src/lib/nav_bar/index.php
  src/lib/nav_ele/index.css
  src/lib/nav_ele/index.php
  src/lib/show/index.css
  src/lib/show/index.php
  src/lib/shows/index.css
  src/lib/shows/index.php
  src/shows.php
Due: ts-lint, md-fmt

text1
  src/lib/contact_card/index.php
Due: none

contact page + small changes
  src/contact.php
  src/lib/carousel/index.css
  src/lib/contact_card/index.css
  src/lib/contact_card/index.php
  src/lib/date_picker/index.css
  src/lib/footer/index.css
  src/lib/footer/index.php
  src/lib/images/announcement.png
  src/lib/images/announcement.pngZone.Identifier
  src/lib/images/chair.png
  src/lib/images/chair.pngZone.Identifier
  src/lib/images/corporate-event.png
  src/lib/images/corporate-event.pngZone.Identifier
  src/lib/images/stock-founder.jpg
  src/lib/images/stock-founder.jpgZone.Identifier
  src/lib/images/stock-team.jpg
  src/lib/images/stock-team.jpgZone.Identifier
  src/lib/nav_bar/index.css
  src/lib/show/index.css
  src/lib/show/index.php
  src/lib/shows/index.css
Due: none

css fix
  src/lib/contact_card/index.css
  src/lib/contact_card/index.php
Due: none

feat: added shows page
  src/classlib/movie.php
  src/contact.php
  src/index.php
  src/lib/date_picker/index.php
  src/lib/head.php
  src/lib/search/index.css
  src/lib/search/index.js
  src/lib/search/index.php
  src/lib/show_card/index.css
  src/lib/show_card/index.js
  src/shows.css
  src/shows.php
  src/views/shows_all.php
  src/views/shows_single.php
Due: ts-lint, md-fmt

moviegenre database
  database/01_init.sql
  database/06_insert_movie_genre.sql
Due: none

footer change
  src/classlib/movie.php
  src/lib/contact_card/index.css
  src/lib/footer/index.php
  src/lib/images/announcement.pngZone.Identifier
  src/lib/images/chair.pngZone.Identifier
  src/lib/images/corporate-event.pngZone.Identifier
  src/lib/images/stock-founder.jpgZone.Identifier
  src/lib/images/stock-team.jpgZone.Identifier
  src/lib/search/index.js
  src/lib/show_card/index.js
  src/shows.css
  src/views/shows_all.php
  src/views/shows_single.php
Due: ts-lint, md-fmt

show timimg update
  database/05_shows.sql
Due: none

feat: added ticketing type
  database/01_init.sql
  database/08_insert_ticket_types.sql
  src/lib/seating/index.css
  src/lib/seating/index.php
  src/lib/showtime/index.php
Due: none

timing update
  database/05_shows.sql
Due: none

feat: added seating page
  database/01_init.sql
  database/05_shows.sql
  src/classlib/tickets.php
  src/lib/seating/index.css
  src/lib/seating/index.js
  src/lib/seating/index.php
  src/lib/showtime/index.js
  src/lib/showtime/index.php
  src/lib/ticket_selector/index.css
  src/lib/ticket_selector/index.js
  src/lib/ticket_selector/index.php
  src/single.css
  src/views/shows_single.php
Due: ts-lint, md-fmt

feat: added login and payment pages
  database/01_init.sql
  src/classlib/auth.php
  src/classlib/validator.php
  src/contact.php
  src/index.php
  src/lib/button/index.css
  src/lib/button/index.php
  src/lib/error_panel/index.css
  src/lib/error_panel/index.php
  src/lib/input/index.css
  src/lib/input/index.js
  src/lib/input/index.php
  src/lib/login/index.css
  src/lib/login/index.js
  src/lib/login/index.php
  src/lib/nav_bar/index.php
  src/lib/payment_form/index.css
  src/lib/payment_form/index.js
  src/lib/payment_form/index.php
  src/lib/payment_overview/index.css
  src/lib/payment_overview/index.php
  src/lib/register/index.css
  src/lib/register/index.js
  src/lib/register/index.php
  src/lib/session_message/index.css
  src/lib/session_message/index.php
  src/lib/success_panel/index.css
  src/lib/success_panel/index.php
  src/lib/title/index.php
  src/log.php
  src/login.php
  src/logout.php
  src/payment.php
  src/reg.php
  src/register.php
  src/shows.php
  src/views/shows_single.php
Due: ts-lint, md-fmt

Show timing update
  database/05_shows.sql
Due: none

feat: basic payment
  database/01_init.sql
  src/bookings.php
  src/classlib/auth.php
  src/classlib/transact.php
  src/classlib/validator.php
  src/lib/bookings/index.css
  src/lib/bookings/index.php
  src/lib/nav_bar/index.php
  src/lib/payment_form/index.js
  src/lib/payment_form/index.php
  src/lib/payment_overview/index.php
  src/lib/seating/index.css
  src/lib/seating/index.js
  src/lib/seating/index.php
  src/login.php
  src/payment.php
  src/payment_success.css
  src/payment_success.php
  src/register.php
Due: ts-lint, md-fmt

feat: added account
  database/01_init.sql
  src/classlib/booking.php
  src/contact.php
  src/index.css
  src/lib/bookings/index.css
  src/lib/bookings/index.php
  src/lib/etix/index.css
  src/lib/etix/index.php
  src/lib/head.php
  src/lib/nav_bar/index.css
  src/payment_success.php
  src/ticket.css
  src/ticket.php
Due: none

fix: bugs v1
  src/classlib/transact.php
  src/lib/bookings/index.php
  src/lib/carousel/index.css
  src/lib/carousel/index.js
  src/lib/carousel/index.php
  src/lib/date_picker/index.js
  src/lib/etix/index.css
  src/lib/etix/index.php
  src/lib/login/index.css
  src/lib/login/index.php
  src/lib/nav_ele/index.css
  src/lib/nav_ele/index.php
  src/lib/payment_overview/index.css
  src/lib/seating/index.js
  src/register.php
  src/views/shows_single.php
Due: ts-lint, md-fmt

feat: ux improvement
  src/contact.php
  src/lib/contact_card/index.php
  src/lib/date_picker/index.js
  src/lib/search/index.js
  src/lib/shows/index.css
  src/lib/shows/index.js
  src/lib/showtime/index.js
  src/lib/showtime/index.php
  src/lib/title/index.css
  src/lib/title/index.php
Due: ts-lint, md-fmt

feat: emulate fixed-scrolling
  src/bookings.php
  src/index.css
  src/index.php
  src/views/shows_all.php
  src/views/shows_single.php
Due: none

feat: mobile friendly
  src/lib/bookings/index.css
  src/lib/bookings/index.php
  src/lib/carousel/index.css
  src/lib/carousel/index.js
  src/lib/date_picker/index.css
  src/lib/etix/index.css
  src/lib/head.php
  src/lib/input/index.css
  src/lib/input/index.php
  src/lib/login/index.css
  src/lib/nav_bar/index.php
  src/lib/nav_ele/index.css
  src/lib/register/index.css
  src/lib/search/index.css
  src/lib/search/index.js
  src/lib/seating/index.css
  src/lib/show_card/index.css
  src/lib/shows/index.css
  src/lib/shows/index.js
  src/lib/showtime/index.css
  src/lib/ticket_selector/index.css
  src/lib/title/index.css
  src/lib/trailer/index.css
  src/lib/trailer/index.php
  src/login.php
  src/shows.css
Due: ts-lint, md-fmt

feat: cleaned up contact page
  src/lib/contact_card/index.css
  src/lib/contact_card/index.php
  src/lib/head.php
Due: none

feat: completed v1
  src/lib/contact_card/index.css
Due: none

feat: redirect persists
  src/lib/contact_card/index.css
  src/lib/contact_card/index.php
  src/lib/error_panel/index.css
  src/lib/login/index.php
  src/lib/seating/index.js
  src/lib/seating/index.php
  src/log.php
  src/payment.php
  src/views/shows_single.php
Due: ts-lint, md-fmt

feat: fix redirect
  src/lib/login/index.php
  src/lib/register/index.php
  src/reg.php
Due: none

fix: all
  src/classlib/transact.php
  src/classlib/validator.php
  src/db.php
  src/index.css
  src/index.php
  src/lib/description/index.css
  src/lib/description/index.php
  src/lib/nav_bar/index.css
  src/lib/nav_bar/index.php
  src/lib/payment_form/index.js
  src/lib/seating/index.js
  src/lib/show_card/index.css
  src/lib/show_card/index.js
  src/lib/trailer/index.css
  src/log.php
Due: ts-lint, md-fmt

Path conditions:
  ts-lint: any of: ^(src|tests)/.*\.(js|ts|json|jsx|tsx)$
  docker-lint: any of: ^.*Dockerfile$
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  ts-fmt: any of: ^.*\.(MD|md)$
  md-fmt: any of: ^.*\.(js|ts|json|jsx|tsx)$
  nixpkgs-fmt: any of: ^.*\.nix$
